.Rproj.user
.Rhistory
.Rdata
.httr-oauth
.DS_Store
data-raw/dados-manipulados/*
data-raw/steam-data/*
config/*
data-raw/dados-manipulados/database.feather
data-raw/dados-manipulados/database.json
docs/Analise/Analise_Exploratoria_files/*
docs/Analise/capitulos/9-price-tags_files/*
