.Rproj.user
.Rhistory
.Rdata
.httr-oauth
.DS_Store
data-raw/dados-manipulados/*
data-raw/steam-data/*
config/*
data-raw/dados-manipulados/database.feather
data-raw/dados-manipulados/database.json
docs/Analise/Analise_Exploratoria_files/*
docs/Analise/Analise_Exploratoria_files/figure-html/*
docs/Analise/Analise_Exploratoria_files/libs/*
docs/Analise/capitulos/1-analise-base-1.html
docs/Analise/capitulos/1-analise-base-1_files/*
docs/Analise/capitulos/2-analise-base-2.html
docs/Analise/capitulos/2-analise-base-2_files/*
docs/Analise/capitulos/3-analise-base-3.html
docs/Analise/capitulos/3-analise-base-3_files/*
docs/Analise/capitulos/5-unindo-bases.html
docs/Analise/capitulos/5-unindo-bases_files/*
docs/Analise/capitulos/6-tags.html
docs/Analise/capitulos/6-tags_files/*
docs/Analise/capitulos/7-price.html
docs/Analise/capitulos/7-price_files/*
docs/Analise/capitulos/8-reviews.html
docs/Analise/capitulos/8-reviews_files/*
docs/Analise/capitulos/9-price-tags.html
docs/Analise/capitulos/9-price-tags_files/*
docs/Analise/capitulos/test_cache/*
docs/Analise/capitulos/test.html
docs/Analise/capitulos/test_files/*
