.Rproj.user
.Rhistory
.Rdata
.httr-oauth
.DS_Store
data-raw/dados-manipulados/*
data-raw/steam-data/*
config/*
data-raw/dados-manipulados/database.feather
data-raw/dados-manipulados/database.json
docs/Analise/Analise_Exploratoria_files/*
docs/Analise/Analise_Exploratoria_files/figure-html/*
docs/Analise/Analise_Exploratoria_files/libs/*
docs/Analise/capitulos/9-price-tags_files/*
docs/Analise/capitulos/7-price_files/*
docs/Analise/capitulos/5-unindo-bases_files/*
docs/Analise/capitulos/test_cache/*
docs/Analise/capitulos/test_files/*
